{% extends 'home/base.html'%}

{% block body %}
    about us
<br>
<br>
    <input type="text" id="mobile" class="mymobile" name="mmmm" data-name="myname"]>
    <button id="gslider" class="btn btn-danger" onclick="abcd()">Call</button>


    <div class="res">here message</div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $("#gslider").click(function(){
        //v =$(".mymobile").val();
            v =$("input[name='mmmm']").val();
          $(".res").html(v);



        });

        function abcd(){
        alert('myfunction called');
        }

    </script>


{%endblock %}

