<div class="owl-carousel owl-theme" id="categery">
    {% for cat in categery %}
    <div class="item">
        <img src="{{cat.pic.url}}" class="cat-img">
        <div class="">{{cat.name}} {{forloop.counter}}</div>
    </div>
    {% endfor%}

</div>


<script>
    $('#categery').owlCarousel({
    loop:true,
    margin:10,
    nav:true,
    responsive:{
        0:{
            items:1
        },
        600:{
            items:1
        },
        1000:{
            items:9
        }
    }
})

</script>
