
{% extends 'home/base.html'%}

{% block body %}

{% include 'home/navbar.html'%}
<div id="sliderlist"></div>
<div class="container">
<div id="categerylist"></div>
</div>

<div class="container">
    <h2>All Products</h2>
    <input type="search" name="proSearch" class="form-control" id="pro_key">
    <div class="product_list">
    </div>



</div>


{% endblock%}

{% block js%}
<script>
function loadProduct(skey){
        console.log("func called"+skey);
        $.ajax({
            url:"/getProduct/",
            method:"get",
            data:{'mykey':skey},
            success:function(data){
                $(".product_list").html(data);
            }
        });
}

$("#pro_key").keyup(function(){

          skey =$("#pro_key").val();
          if (skey!=""){
                 loadProduct(skey);
          }
          else{
          loadProduct();
          }


});


function loadSlider(){
        $.ajax({
            url:"/getSlider/",
            success:function(data){
                $("#sliderlist").html(data);
            }
        });
}

function loadCategery(){
        $.ajax({
            url:"/getCategery/",
            success:function(data){
                $("#categerylist").html(data);
            }
        });
}
loadCategery();
loadProduct();
loadSlider();



</script>
{% endblock%}
{% block title %} Meri dukaan {% endblock%}
