
{% extends 'home/base.html'%}

{% block body %}


<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
      {% for v in sliders%}
    <li data-target="#demo" data-slide-to="{{forloop.counter}}" class="{% if v.position in 'f' %} active{% endif%}"></li>

      {% endfor%}
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner">
      {% for v in sliders%}
    <div class="carousel-item {% if v.position in 'f' %} active{% endif%}">
      <img src="{{v.image.url}}" width="100%" height="500">
    </div>
      {% endfor%}

  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>


<div class="owl-carousel owl-theme" id="categery">
    {% for i in "aaaaaaaaaaa"%}
    <div class="item"><img src="/static/images/s1.jpg">
    <div class="">Cat {{forloop.counter}}</div>
    </div>
    <div class="item"><img src="/static/images/s2.jpg"></div>

    {% endfor%}

</div>

<div class="container">
    <h2>Basic Card</h2>
    <div class="row">
        {% for pro in products%}
        <div class="col-md-3">
            <div class="card">
                <div class="card-header"><img src="{{pro.image.url}}" width="100%"></div>
                <div class="card-body">
                    <h1>{{pro.name}}</h1>
                    <h4>{{pro.price}}</h4>
                    <a href="">order</a>
                </div>
            </div>
        </div>
        {% endfor%}
    </div>
</div>

{% endblock%}

{% block title %} Meri dukaan {% endblock%}
