{% extends 'home/base.html'%}

{% block body %}

<header class="bg-pink">
    <div class="container">
        <div class="row">
            <div class="col-md-2"><img src="/static/images/logo.png"></div>

        </div>
    </div>
</header>
<div class="container">
    <div class="row m-4 p-4">
        <div class="col-md-4"></div>
        <div class="col-md-6">

            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <input type="text" placeholder="Enter Email"
                           class="form-control" id="email" name="email" autocomplete="off">

                    <div id="msg"></div>
                </div>

                <div class="form-group" id="otpbox">
                    <input type="number" placeholder="Enter Otp"
                           class="form-control" id="otp" name="otp" autocomplete="off"  pattern="[0-9]{4}">
                </div>

                <div class="form-group">
                    <button type="button" id="saveuser"
                            class="btn btn-success" >Verify Email</button>
                 <button type="button" id="emailverify" style="display:none"
                            class="btn btn-success" >Register</button>
                </div>




            </form>
        </div>
    </div>

</div>




{% endblock%}

{% block js%}
<script>

$("#otpbox").css("display", "none");
    function emailMatch(myemail){
        $.ajax({
            url:"{% url 'match'%}",
            method:"get",
            data: { 'ee': myemail} ,
            success:function(data){
            $("#msg").html("")
            if(data.status=="error"){
                 $("#msg").html("<div class='text-danger pt-2'>Email alerdy exist</div>");
            }else{
             $("#msg").html("<div class='text-success pt-2'>Email available</div>");

            }
            }

        })

    }

    $("#email").keyup(function(){
        const re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{3,}))$/;
        $("#otpbox").css("display", "none");
        email =$("#email").val();
        if (email==""){
            $("#email").css("border", "solid 1px red");
            $("#email").focus();
            $("#msg").html("<div class='text-danger pt-2'>Enter Email</div>"); }

        else if(re.test(email)==false){
            $("#msg").html("<div class='text-danger pt-2'>Please Enter Valid Email Id</div>");
        }
        else{

        emailMatch(email);


        }


    });



    function sendMail(eemail){
        $.ajax({
            url:"{% url 'sendMail'%}",
            method:"get",
            data: { 'ee': eemail},
            success:function(data){
            $("#msg").html("");
            if(data.status=="success"){
               $("#msg").html("<div class='text-success pt-2'><b>OTP Send Successfully! Check Your Mail</b></div>");
                $( "#email" ).prop( "disabled", true );
            }
            }
            });

    }

    $("#saveuser").click(function(){
    $("#otpbox").css("display", "none");
        const re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;

        email =$("#email").val();
        if (email ==""){
            $("#email").focus();
            $("#msg").html("<div class='text-danger pt-2'>Email Fields Requierd</div>"); }

        else if(re.test(email)==false){
            $("#msg").html("<div class='text-danger pt-2'>Please Enter Valid Email Id</div>");
        }
        else{
        sendMail(email)
        $("#otpbox").css("display", "block");
        $("#saveuser").css("display", "none");
        $("#emailverify").css("display", "block");
        }

    })


function verifiyOpt(){
    console.log("send mail");
}
$("#emailverify").click(function(){
    verifiyOpt();
    otp =$("#otp").val();
    $.ajax({
            url:"{% url 'verifyOtp'%}",
            method:"get",
            data: { 'otp': otp} ,
            success:function(data){
            $("#msg").html("");
            alert(data);
            }
            });
});


    </script>
{% endblock%}