{% extends 'home/base.html'%}

{% block body %}
{% include 'home/header.html'%}
{% include 'home/navbar.html'%}
<div class="container">
  <h2>Bordered Table</h2>
  <p>The .table-bordered class adds borders to a table:</p>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>photo</th>
        <th>Product Name</th>
        <th>Qty</th>
        <th>Price</th>
        <th>#</th>

      </tr>
    </thead>
    <tbody>
    {% if carts%}
    {% for cart in carts%}
      <tr>
        <td><img src="{{cart.product.image.url}}" width="100"> </td>
        <td>{{cart.product.name}}</td>
        <td><input type="number" value="{{cart.qty}}"></td>
        <td>{{cart.product.discount_price}}/</td>
        <td><a href="">delete</a> </td>
      </tr>

    {% endfor%}
    {% else %}
    <tr>
        <td>No Carts selected !</td>
    </tr>
    {% endif%}



    </tbody>
  </table>
</div>

{% endblock%}